<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
</head>

<body>
    {{>navigation}}
    {{>watermark}}
    <div class="container">
        <section class="about">
            <div class="about-content">
                <h1 class="page-heading">{{title}}</h1>
                <p class="text">{{description}}</p>
            </div>
            <img src="img/icons/cloudy.svg" alt="Cloudy" class="about-img">
        </section>
        <section class="credits">
            <h1 class="page-heading">Powered By</h1>
            <div class="credits-wrapper">
                {{#each credits}}
                <p class="credit">{{this}}</p>
                {{/each}}
            </div>
        </section>
    </div>
    {{>footer}}
</body>

</html>