<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Weather Assistant | About</title>
</head>

<body>
    {{>navigation}}
    {{>watermark}}
    <div class="container">
        <section class="about">
            <div class="about-content">
                <h1 class="page-heading">{{title}}</h1>
                <p class="text">{{description}}</p>
            </div>
            <img src="img/icons/cloudy.svg" alt="Cloudy" class="about-img">
        </section>
        <section class="credits">
            <h1 class="page-heading">Powered By</h1>
            <div class="credits-wrapper">
                {{#each credits}}
                <p class="credit">
                    {{this.name}}
                    <a href="{{this.url}}" class="link" target="_blank" noreferrer noopener>Visit</a>
                </p>
                {{/each}}
            </div>
        </section>
    </div>
    {{>footer}}
    <script src="js/navigation.js"></script>
</body>

</html>