<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="How to use weather assistant to get the current weather.">
    <meta name="author" content="Walter Selvakumar">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>How to use | Weather Assistant</title>
</head>

<body>
    {{>navigation}}
    {{>watermark}}
    <section class="help">
        <div class="container">
            <h1 class="page-heading">{{title}}</h1>
            <ol class="text">
                <li>When you first visit Weather Assistant, your browser will ask you whether you'd like to allow us to
                    use your current location to get weather information.</li>
                <li>If you click "Allow", Weather Assistant will fetch and display the current weather information for
                    your location.</li>
                <li>If you click "Block", Weather Assistant will use your IP to display the current weather for your
                    location based on your IP address. This would depend on where your ISP is located and will vary if
                    you're using a VPN.</li>
                <li>To get the weather information for a different location, just type an address into the text input
                    field labelled "Enter address/location" and click on the "Get Weather" button.</li>
                <li>Alternatively, you can also hit Enter on your keyboard once you're entered an address.</li>
                <li>Weather Assistant will fetch the current weather information for the location you entered and
                    display it on your screen.</li>
                <li>To start checking the weather, <a href="/" class="link">click here</a>.</li>
            </ol>
        </div>
    </section>
    {{>footer}}
    <script src="js/navigation.js"></script>
</body>

</html>