<footer class="footer">
    <p>
        Created by
        <a class="link" href="https://walterselvakumar.com" target="_blank" noreferrer noopener>
            Walter Selvakumar
        </a>.
    </p>
</footer>