<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Weather Assistant</a>
        <ul class="navbar-nav">
            <li class="navbar-item"><a class="navbar-link" href="/">Weather</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/help">Help</a></li>
        </ul>
    </div>
</nav>