<nav class="navbar">
    <div class="container--flex">
        <a href="/" class="navbar__logo">
            <img src="img/icons/cloudy.svg" alt="Logo" class="navbar__icon">Weather Assistant
        </a>

        <ul class="navbar__nav">
            <li class="navbar__item">
                <a class="navbar__link {{#if home}} navbar__link--active{{/if}}" href="/">
                    Weather
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link {{#if about}} navbar__link--active{{/if}}" href="/about">
                    About
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link {{#if help}} navbar__link--active{{/if}}" href="/help">
                    Help
                </a>
            </li>
        </ul>

        <button class="navbar__toggle">
            <img src="img/menu.svg" alt="Menu">
        </button>

        <div class="navbar__mobile navbar__mobile--hide">
            <button class="navbar__dismiss">Close X</button>

            <ul class="navbar__nav--mobile">
                <li class="navbar__item">
                    <a class="navbar__link navbar__link--mobile {{#if home}} navbar__link--active{{/if}}" href="/">
                        Weather
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link navbar__link--mobile {{#if about}} navbar__link--active{{/if}}"
                        href="/about">
                        About
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link navbar__link--mobile {{#if help}} navbar__link--active active{{/if}}"
                        href="/help">
                        Help
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {{>backdrop}}
</nav>