<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img src="img/icons/cloudy.svg" alt="Logo" class="navbar-logo-icon">Weather Assistant
        </a>
        <ul class="navbar-nav">
            <li class="navbar-item"><a class="navbar-link {{#if home}}active{{/if}}" href="/">Weather</a></li>
            <li class="navbar-item"><a class="navbar-link {{#if about}}active{{/if}}" href="/about">About</a></li>
            <li class="navbar-item"><a class="navbar-link {{#if help}}active{{/if}}" href="/help">Help</a></li>
        </ul>
        <button class="navbar-toggle">
            <img src="img/menu.svg" alt="Menu" class="navbar-icon">
        </button>
        <div class="navbar-mobile hide-nav">
            <button class="navbar-dismiss">Close X</button>
            <ul class="navbar-mobile-nav">
                <li class="navbar-item"><a class="navbar-link {{#if home}}active{{/if}}" href="/">Weather</a></li>
                <li class="navbar-item"><a class="navbar-link {{#if about}}active{{/if}}" href="/about">About</a></li>
                <li class="navbar-item"><a class="navbar-link {{#if help}}active{{/if}}" href="/help">Help</a></li>
            </ul>
        </div>
    </div>
    {{>backdrop}}
</nav>