@import url("https://fonts.googleapis.com/css?family=Nunito|Quicksand");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #f3efe0;
  background-color: #171717;
  line-height: 1.5;
  position: relative;
  background-image: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), -webkit-gradient(linear, left top, right top, from(#171717), to(#171717));
  background-image: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), linear-gradient(90deg, #171717, #171717);
}

.watermark {
  position: fixed;
  top: 0%;
  left: -20%;
  width: 100%;
  height: 100%;
  z-index: -999;
  opacity: 0.03;
}

.text {
  color: #cacaca;
}

.link {
  color: #cba135;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #d5b45e;
}

.page-heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  margin-bottom: 1rem;
  text-align: center;
}

.page-heading::after {
  content: '';
  display: block;
  height: 4px;
  width: 80px;
  margin: 0 auto;
  background-color: #cba135;
}

.container,
.navbar-container {
  width: 88%;
  margin: 0 auto;
}

.navbar {
  background-color: #0c0c0c;
  position: relative;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-logo, .navbar-link {
  display: inline-block;
  text-decoration: none;
  padding: 1.5em 1em;
}

.navbar-logo {
  color: #cba135;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo-icon {
  display: inline-block;
  width: 25px;
  margin-right: 4px;
}

.navbar-link {
  color: #f3efe0;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.navbar-link:hover, .navbar-link.active {
  color: #cba135;
}

.navbar-nav {
  list-style: none;
  display: none;
}

.navbar-toggle {
  background-color: transparent;
  border: 0;
  outline: none;
}

.navbar-icon {
  width: 40px;
  cursor: pointer;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #171717;
  padding-top: 2em;
  width: 45%;
  height: 100%;
  z-index: 9999;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-mobile-nav {
  list-style: none;
}

.navbar-mobile .navbar-item,
.navbar-mobile .navbar-link {
  display: block;
  padding: 1em 0;
}

.navbar-mobile .navbar-link {
  padding-right: 2em;
}

.navbar-mobile .navbar-dismiss {
  background-color: transparent;
  outline: none;
  border: 0;
  color: #f3efe0;
  font: inherit;
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
  margin-right: 2em;
  color: #979797;
}

.navbar .hide-nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.navbar .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(12, 12, 12, 0.4);
  z-index: 999;
}

.hero {
  padding: 3.5em 0;
}

.hero-title {
  font-family: 'Quicksand', sans-serif;
  color: #f3efe0;
  width: 85%;
  margin-bottom: 1rem;
}

.hero-subtitle {
  color: #979797;
  margin-bottom: 1rem;
}

.weather-form {
  text-align: center;
}

.weather-form label,
.weather-form input {
  display: block;
  margin-bottom: 0.5rem;
}

.weather-form label {
  text-align: left;
  color: #f3efe0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-form label .label-icon {
  display: inline-block;
  width: 25px;
  margin-right: 4px;
}

.weather-form input {
  padding: 0.5rem;
  width: 100%;
  font: inherit;
  border: 1px solid transparent;
  outline: none;
  background-color: #575757;
  border-radius: 2px;
  color: #f3efe0;
}

.weather-form input:focus {
  border: 1px solid #cba135;
}

.weather-form button {
  font: inherit;
  border: 1px solid transparent;
  outline: none;
  background-color: #cba135;
  padding: 0.5rem 0.75em;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.weather-form small.error {
  color: #f44336;
}

.weather-form input.error {
  border: 1px solid #f44336;
}

.weather {
  background-color: #313131;
  padding: 2em 1.25em;
  border-radius: 2px;
  text-align: center;
  color: #f3efe0;
  margin-bottom: 1em;
}

.weather-location, .weather-status {
  margin-bottom: 1em;
}

.weather-location {
  font-size: 1.1em;
  text-transform: uppercase;
}

.weather-status strong {
  color: #cba135;
}

.weather-icon {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 1em;
  max-width: 300px;
}

.weather small {
  color: #bdbdbd;
  margin-bottom: 1em;
  display: block;
}

.weather a {
  text-decoration: none;
  color: #7fefbd;
}

.weather .focus {
  color: #cba135;
}

.weather .cold {
  color: #68ecb1;
}

.weather .warm {
  color: #b7912f;
}

.weather .hot {
  color: #f55a4e;
}

.about,
.help,
.credits {
  padding: 2em 0;
}

.about-img {
  display: block;
  min-width: 200px;
  max-width: 300px;
  margin: 0 auto;
}

.credits-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
}

.credit {
  padding: 2em;
  background-color: #313131;
  border-radius: 2px;
  text-align: center;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.credit a {
  font-size: 1rem;
  display: inline-block;
  margin-top: 0.5rem;
}

.credit:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.help ol {
  list-style-position: inside;
}

.help ol li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.footer {
  background-color: #171717;
  padding: 2em;
  text-align: center;
  color: #f3efe0;
  margin-top: 1em;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 480px) {
  .page-heading {
    text-align: left;
  }
  .page-heading::after {
    margin: 0;
  }
}

@media only screen and (min-width: 550px) {
  .container,
  .navbar-container {
    width: 85%;
  }
}

@media only screen and (min-width: 640px) {
  .container,
  .navbar-container {
    width: 80%;
  }
  .credits-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 720px) {
  .container,
  .navbar-container {
    width: 75%;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-toggle, .navbar-mobile,
  .navbar .backdrop {
    display: none;
  }
  .weather-form {
    text-align: left;
  }
  .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input-group input,
  .input-group button {
    margin: 2px;
  }
  .input-group input {
    width: 45%;
  }
  .page-heading {
    font-size: 2em;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-content {
    margin-right: 2rem;
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  html,
  body {
    font-size: 18px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 0;
  }
  .hero {
    padding: 0;
  }
  .hero-title {
    font-size: 2.5em;
  }
  .hero,
  .weather {
    width: 48%;
  }
  .credits-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .help ol {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  html,
  body {
    font-size: 20px;
  }
  .help ol {
    width: 75%;
  }
}
/*# sourceMappingURL=style.css.map */